*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body{
  font-family: sans-serif;
  background: gray;
}

nav a{
  font-size: 2.4rem;
  text-decoration: none;
  color: #C4C4CC;
}

nav{
  display: flex;
  gap: 4.2rem;
  width: 100%;
  padding: 4rem 7.2rem;
  align-items: center;
}

.holder{
  color: white;
  font-weight: 700;
}